@import 'src/styles/index';

.welcome {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	&__container {
    img {
      padding-bottom: 1rem;
    }
	}

	&__buttons {
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
}
