/* You can add global styles to this file, and also import other style files */
@import 'index';

html,
body {
	height: 100%;
	background-color: getColor(background);
}

body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
	font-size: 12px;
	background-color: getColor(background);
	color: getColor(main);
}
